$Varela:'Varela Round', sans-serif;
$Noto:'Noto Serif', serif;
$Code: 'Ubuntu Mono', monospace;

.Varela{
  font-family: 'Varela Round', sans-serif;
}

.Noto{
  font-family: 'Noto Serif', serif;
}

.Noto-Italic{
  @extend .Noto;
  font-style:italic;
}

.Noto-Bold{
  @extend .Noto;
  font-weight:700;
}

.Code{
  font-family: $Code;
}