@import './_brand-styles/_Brand';

footer{
    background-color: $Magenta-Haze;
    width: 100%;
    height: 20px;
    align-items:center;
}

.bottomBar{
    width: 100%;
    margin: auto;
    align-items: center;
}