@import './_brand-styles/_Brand';

header{
  background-color: white;
  width:100%;
  align-items:center;
}

.topBar{
  width:100%;
  align-items: center;
  justify-content: space-between;
  height:50px;
  .logo{
    img{
      width:200px;
    }
  }
  .burgerMenu{
    width:30px;
    height:30px;
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    padding-top:7px;
    padding-bottom:8px;
    .part{
      height:3px;
      background-color:$Koa-Blue;
      border-radius:5em;
    }
  }
}

.topBar.landing{
  width:100%;
  align-items: center;
  justify-content: center;
  height:86px;
  .logo{
    img{
      width:385px;
    }
  }
  .burgerMenu{
    width:30px;
    height:25px;
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    .part{
      width:30px;
      height:5px;
      background-color:$Koa-Blue;
      border-radius:5em;
      // margin-top:5px;
      // margin-bottom:10px;
    }
  }
}


