@import "./_brand-styles/_Brand.scss";

form.search {
	display: flex;
	height: 50px;
	min-width: 400px;
	width: fit-content;
	margin: auto;
	align-items: center;
	justify-content: center;
	font-size: 2em;
	margin-bottom: 20px;
	button {
		margin-left: 30px;
	}
	button:hover {
		cursor: pointer;
	}
}

.view {
	display: inline-block;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}

.selector {
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 4.5px 0 4.5px;
	border-color: white transparent transparent transparent;
	margin-right: 5px;
	margin-bottom: 3px;
}

@keyframes inputBlink {
	0% {
		background-color: rgba(255, 255, 255, 0);
	}
	50% {
		background-color: rgba(255, 255, 255, 0.5);
	}
	100% {
		background-color: rgba(255, 255, 255, 0);
	}
}

.input {
	display: inline-block;
	color: $Bg-Pink;
}

.param {
	color: white;
	margin-right: 0;
}

.input::before,
.input::after {
	content: "'";
}

.searchParam {
	@extend .Mono;
	font-size: 14px;
	background-color: $Koa-Blue;
	border: 0px;
	color: white;
	outline: none;
	width: fit-content;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	&:hover {
		cursor: pointer;
	}
}

input.search {
	background-color: $Koa-Blue;
	border: none;
	outline: none;
	color: $Bg-Pink;
	border-bottom: 2px solid $Boolean-Blue;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.searchFunc {
	@extend .Mono;
	color: $Accent-Yellow;
	font-size: 2.5em;
}

.searchFunc::after {
	content: "();";
}

.searchBracket {
	color: white;
}

.searchPunc {
	color: $Magenta-Haze;
}

.resultsBody {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.results.users {
	display: flex;
	justify-content: center;
}

.search-item.pop-card {
	max-height: initial;
	margin: 10px;
	width: 300px;
	transition: 0.2s ease-in;
	color: $Koa-Blue;
}

.search-item.pop-card:hover {
	cursor: pointer;
	transition: 0.1s ease-in;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
}

.pgbtn > button {
	font-size: 2em;
	color: $Magenta-Haze;
}

.pgbtn > button:hover {
	cursor: pointer;
}

.result.body {
	padding-left: 20px;
}

ul.result.item {
	margin-top: 10px;
}

.result.title {
	color: $Koa-Blue;
	font-size: 20px;
	display: inline-block;
	margin-bottom: 5px;
}

.result.name,
.result.punc,
.result.bracket {
	font-size: 25px;
}

.searchCopy {
	width: 100%;
	font-size: 25px;
	color: $Koa-Blue;
	margin-bottom: 20px;
	text-align: center;
}
